body,html{
  height: 100%;
}

/*
 * Header styles
 */
.navbar-default {
  background-color: #0084da;
  padding-bottom: 25px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  color: #fff;
  background-color: #0084da;
  border-bottom: 2px solid #fff;
}
.navbar-default .navbar-nav>li>a{
  color: #ffffff;
  margin-top: 18px;
}
.navbar-default .navbar-nav>li>a:focus{
  color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
  background-color: #0084da;
  border-bottom: 2px solid #d3d1da;
}
.navbar-default  .navbar-toggle{
  border-color: #fff;
  background-color: #0084da;
  margin-top: 30px;
}
.navbar-default .navbar-toggle:hover{
  background-color: #249be8;
}
.navbar-default .navbar-toggle .icon-bar{
  color:#fff;
}

/*
 * Form styles
 */

#search{
  padding-top: 130px;
  min-height: 100%;
}
.title{
  margin-bottom: 30px;
}
label{
  font-size: 16px;
}
.form-control{
  border-radius: 0;
  padding: 18px 0 15px 10px;
  font-size: 16px;
  height: auto;
}
.btn-primary{
  background-color: #0084da;
  border-color: #0f92e7;
  padding: 10px 40px 10px 40px;
  border-radius: 0;
}
.btn-primary:hover,
.btn-primary:focus{
  background-color: #0f92e7;
  border-color: #1697eb;
}

/*
 * Loader styles
 */
 #message-loader{
   position: absolute;
   left: 50%;
   top: 50%;
   width: 50px;
   height: 50px;
   z-index: 1;
   color: #fff;
   text-align: center;
   margin: -55px 0 0 -65px;
   font-size: 12px;
 }
#loader{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 70px;
  height: 70px;
  margin: -75px 0 0 -75px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #0084da;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
 * Tabs styles
 */
 #tab-flights{
   /*padding-bottom: 50px;*/
 }
.nav-tabs.nav-justified>li>a {
  border-bottom: 2px solid #0084da;
}
.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus{
  border-width: 2px;
  border-top-color: #0084da;
  border-left-color: #0084da;
  border-right-color: #0084da;
  background-color: transparent;
  border-radius: 0;
}
.nav-tabs.nav-justified>li>a:hover {
    background-color: #c9e7fa;
    border-top-color: transparent;
    border-bottom-color: #0084da;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 0;
}

#flights{
  padding-top: 20px;
}
.list-flights{
  margin-bottom: 15px;
}
.list-header{
  background-color: #0084da;
  border-color: #0084da;
  border-radius: 0;
  text-align: center;
  font-size: 16px;
  padding: 12px 0 12px 0;
  color: #fff;
}
.list-body{
  height: 100px;
  border: 1px solid #0084da;
  border-radius: 0;
  padding: 10px 0 0 0;
  text-align: justify;
  cursor: default;
}
.list-body:hover{
  background-color: #c9e7fa;
}

/*
 * Footer styles
 */
.footer{
  position: fixed;
  padding: 1em;
  bottom: 0;
  width: 100%;
  background-color: #0084da;
  color: #fff;
  text-align: center;
}
